.song-list-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #fcfcfc;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}


.table-header-row,
.song-cards-grid > .table-row {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 100px;
  border-bottom: 5px solid #e0e0e0;
  
}

.table-header-row {
  background-color: #c3c4c5;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.table-header-cell,
.table-cell {
  padding: 12px 15px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.table-header-cell.sortable {
  cursor: pointer;
}

.table-header-cell.sortable:hover {
  background-color: #7eabd8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sort-arrow {
  margin-left: 5px;
  width: 10px;
  display: inline-block;
  text-align: center;
}

.table-header-cell:nth-child(6),
.table-cell.votes-cell {
  justify-content: center;
}
.table-header-cell:nth-child(7),
.table-cell.download-action-cell {
  justify-content: center;
}
.table-header-cell:nth-child(8),
.table-cell.downloads-count-cell {
  justify-content: center;
}

@media (max-width: 768px) {
  .table-header-row {
    display: none;
  }
  .song-cards-grid {
    border: none;
    box-shadow: none;
  }
  .song-list-container {
    width: 100%;
    padding: 10px;
  }
  .table-header-row,
  .song-cards-grid > .table-row {
    grid-template-columns: 1fr;
  }
}
